<section>

    <ul class="advantages__list">
        <li class="advantages__list-items">721
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items">16kg
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-items">84
            <p class="advantages__items-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>

</section>

  